<p id="notice"><%= notice %></p>
<% content_for :title, ' ' %>

<%= render 'common/search' %>

<table class="listing">
  <thead>
    <tr>
      <th id="section-list-col">Name</th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td>
          <div class="large-10 small-9 columns">
            <p class="list-title"><%= link_to(section.name, section) %></p>
            <div class="list-detail"><%= raw markdown.render(section.narrative) %></div>
          </div>
          <div class="large-2 small-3 columns">
            <%= link_to section do %>
                <span class="list-link-text"><%= CodeValue.find_by(code_table: 'sect-type', code: section.section_type).print_name %> examples</span><span class="link-pointer"> }</span>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'tour_index' %>

<script>
  $(document).foundation();

  function activateJoyride() {
    $(document).foundation('joyride', 'start');
  }

  $( document ).ready(function() {

    $('#sub-btn').click(function validateForm() {
      var isValid = true;
      $('.field').each(function() {
        if ( $(this).val() === '' )
          $(this).removeAttr("required");
      });
      document.searchform.submit();
      return isValid;
    });

    $('#tour-invoke').click(function () {
      $(document).foundation('joyride', 'start')
    });
  });
</script>