<p id="notice"><%= notice %></p>
<% content_for :title, 'C-CDA Example Search' %>

<%= render 'common/search' %>

<table class="listing">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td>
          <div class="large-10 small-9 columns">
            <p class="list-title"><%= section.name %></p>
            <p class="list-detail"><%= maruku_string(section.narrative) %></p>
          </div>
          <div class="large-2 small-3 columns">
            <%= link_to section do %>
                <span class="list-link-text">section examples</span><span class="link-pointer"> }</span>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<ol class="joyride-list" data-joyride>
  <li data-button="Begin Tour" data-text="Next"  data-options="prev_button: false">
    <h4>C-CDA Example Search Help</h4>
    <p><strong>C-CDA Example Search</strong><br/>
      This screen displays the main interface for the C-CDA Example repository. The repository
      contains a set of example files that have undergone a review and vetting process to
      ensure completeness and rigour. The examples have been created in smaller, consumable
      snippets and associated with the section in the specification.
    </p>
    <p>This page provides a panel for specifying search criteria and list the various
    sections that contain examples files. Pressing [Begin Tour] will walk through the various
    interface elements of this page in detail.</p>
  </li>
  <%= render 'common/tour_search' %>
</ol>

<script>
  $(document).foundation();

  function activateJoyride() {
    $(document).foundation('joyride', 'start');
  }

  $( document ).ready(function() {

    $('#sub-btn').click(function validateForm() {
      var isValid = true;
      $('.field').each(function() {
        if ( $(this).val() === '' )
          $(this).removeAttr("required");
      });
      document.searchform.submit();
      return isValid;
    });

    $('#tour-invoke').click(function () {
      $(document).foundation('joyride', 'start')
    });
  });
</script>