<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @section.type %>
</p>

<p>
  <strong>Narrative:</strong>
  <%= @section.narrative %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
