<p id="notice"><%= notice %></p>
<% content_for :title, @section.name +  ' ' +
    CodeValue.find_by(code_table: 'sect-type', code: @section.section_type).print_name %>
<div id="section-title">
  <%=raw markdown.render(@section.narrative) %>
</div>


<p class="large-9 columns"  id="query-count"> This section has <%= pluralize(@section.examples.count, 'example') %></p>
<p class="return-link large-3 columns"><%= link_to 'return to Main Search', sections_path, id: 'main-page-link' %></p>

<table>
  <thead>
  <tr>
    <th id="results-name">Name</th>
    <th id="results-status">Status</th>
    <th id="results-actions"></th>
  </tr>
  </thead>

  <tbody>
  <% @section.examples.each do |example| %>
      <tr>
        <td>
          <p class="list-title"><%= link_to(example.name, example) %></p>
          <div class="list-detail">
            <%= raw markdown.render(truncate_md(example.comments)) %>
          </div>
        </td>
        <td><%= CodeValue.find_by(code_table: 'appr-stat', code: example.status).print_name %></td>
        <td>
          <%= link_to example do %>
              <span class="list-link-text">Detail</span><span class="link-pointer">}</span>
          <% end %>
          <% unless example.example.nil? -%>
          <br/>
          <%= link_to example_path(example, format: :xml) do %>
              <span class="list-link-text">Download</span><span class="link-pointer">d</span>
          <% end %>
          <% end -%>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<ol class="joyride-list" data-joyride>
  <li data-button="Begin Tour" data-text="Next"  data-options="prev_button: false">
    <h4>C-CDA Example Search Help</h4>
    <p>
      <strong>C-CDA Example <%= CodeValue.find_by(code_table: 'sect-type', code: @section.section_type).print_name %> Display</strong><br/>
      This screen displays the examples for a particular <%= CodeValue.find_by(code_table: 'sect-type', code: @section.section_type).print_name %>.</p>
  </li>
  <li data-id="section-title" data-button="Next" data-prev-text="Prev" data-options="tip_location:bottom;tip_animation:fade">
    <p>The description of the <%= CodeValue.find_by(code_table: 'sect-type', code: @section.section_type).print_name %>.</p>
  </li>
  <li data-id="query-count" data-button="Next" data-prev-text="Prev" data-options="tip_location:bottom;tip_animation:fade">
    <p>The number of examples found within this <%= CodeValue.find_by(code_table: 'sect-type', code: @section.section_type).print_name %>.</p>
  </li>
  <li data-id="main-page-link" data-button="Next" data-prev-text="Prev" data-options="tip_location:bottom;tip_animation:fade">
    <p>Use this link to jump back to the initial page of the application (that lists the sections).</p>
  </li>
  <li data-id="results-name" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>This columns list the names of the examples that match the criteria (and the comment for each example).</p>
  </li>
  <li data-id="results-status" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>This columns list the state of the example in the example verification and approval process.</p>
  </li>
  <li data-id="results-actions" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>You can select to download the examples directly or navigate to page with the full detailed description of the example.</p>
  </li>
  <li data-button="End" data-prev-text="Prev">
    <h4>Tour Complete</h4>
    <p>Return to the C-CDA <%= CodeValue.find_by(code_table: 'sect-type', code: @section.section_type).print_name %> Detail page.</p>
  </li>
</ol>

<script>
  $(document).foundation();

  function activateJoyride() {
    $(document).foundation('joyride', 'start');
  }

  $( document ).ready(function() {

    $('#tour-invoke').click(function () {
      $(document).foundation('joyride', 'start')
    });
  });
</script>