<p id="notice"><%= notice %></p>

<% content_for :title, 'Retrieved Example List' %>

<%= render 'common/search' %>

<p class="large-9 columns" id="query-count"> The query found <%= pluralize(@examples.count, 'example') %></p>
<p class="return-link large-3 columns" id="main-page-link"><%= link_to 'return to Main Search', sections_path %></p>

<table class="listing">
  <thead>
    <tr>
      <th id="results-name">Name</th>
      <th id="results-section">Section</th>
      <th id="results-status">Status</th>
      <th id="results-actions"></th>
    </tr>
  </thead>

  <tbody>
    <% @examples.each do |example| %>
      <tr>
        <td>
          <p class="list-title"><%= example.name %></p>
          <div class="list-detail">
            <%= raw markdown.render(truncate_md(example.comments)) %>
          </div>
        </td>
        <td><%= example.section.name %></td>
        <td><%= CodeValue.find_by(code_table: 'appr-stat', code: example.status).print_name %></td>
        <td>
          <%= link_to example do %>
              <span class="list-link-text">Detail</span><span class="link-pointer">}</span>
          <% end %>
          <% unless example.example.nil? -%>
          <br/>
          <%= link_to example_path(example, format: :xml) do %>
              <span class="list-link-text">Download</span><span class="link-pointer">d</span>
          <% end %>
          <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'tour_index' %>

<script>
  $(document).foundation();

  function activateJoyride() {
    $(document).foundation('joyride', 'start');
  }

  $( document ).ready(function() {

    $('#sub-btn').click(function validateForm() {
      var isValid = true;
      $('.field').each(function() {
        if ( $(this).val() === '' )
          $(this).removeAttr("required");
      });
      document.searchform.submit();
      return isValid;
    });

    $('#tour-invoke').click(function () {
      $(document).foundation('joyride', 'start')
    });
  });
</script>