<p id="notice"><%= notice %></p>

<h1>Listing Examples</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Comments</th>
      <th>Customdian</th>
      <th>Validation</th>
      <th>Keywords</th>
      <th>Full sample</th>
      <th>Status</th>
      <th>Example</th>
      <th>Committee</th>
      <th>Approved</th>
      <th>Date</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @examples.each do |example| %>
      <tr>
        <td><%= example.name %></td>
        <td><%= example.comments %></td>
        <td><%= example.customdian %></td>
        <td><%= example.validation %></td>
        <td><%= example.keywords %></td>
        <td><%= example.full_sample %></td>
        <td><%= example.status %></td>
        <td><%= example.example %></td>
        <td><%= example.committee %></td>
        <td><%= example.approved %></td>
        <td><%= example.date %></td>
        <td><%= example.comment %></td>
        <td><%= link_to 'Show', example %></td>
        <td><%= link_to 'Edit', edit_example_path(example) %></td>
        <td><%= link_to 'Destroy', example, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Example', new_example_path %>
