<p id="notice"><%= notice %></p>

<% content_for :title, 'Retrieved Example List' %>

<%= render 'common/search' %>

<p class="large-9 columns" id="query-count"> The query found <%= pluralize(@examples.count, 'example') %></p>
<p class="return-link large-3 columns" id="main-page-link"><%= link_to 'return to Main Search', sections_path %></p>

<table class="listing">
  <thead>
    <tr>
      <th id="results-name">Name</th>
      <th id="results-section">Section</th>
      <th id="results-status">Status</th>
      <th id="results-actions"></th>
    </tr>
  </thead>

  <tbody>
    <% @examples.each do |example| %>
      <tr>
        <td>
          <p class="list-title"><%= example.name %></p>
          <p class="list-detail"><%= example.comments %></p>
        </td>
        <td><%= example.section.name %></td>
        <td><%= CodeValue.by_table_and_code('appr-stat', example.status)[0].print_name %></td>
        <td>
          <%= link_to example_path(example, format: :xml) do %>
              <span class="list-link-text">Download</span><span class="link-pointer">D</span>
          <% end %>
          <br/>
          <%= link_to example do %>
              <span class="list-link-text">Detail</span><span class="link-pointer">}</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<ol class="joyride-list" data-joyride>
  <li data-button="Begin Tour" data-text="Next"  data-options="prev_button: false">
    <h4>C-CDA Example Search Help</h4>
    <p><strong>C-CDA Example Search Results</strong><br/>
    This screen displays the results of executing the example search criteria
      against the existing examples recorded in the example database.</p>
  </li>
  <%= render 'common/tour_search' %>
  <li data-id="query-count" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>The number of results that match the query parameters can be found here.</p>
  </li>
  <li data-id="main-page-link" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>Use this link to jump back to the initial page of the application (that lists the sections).</p>
  </li>
  <li data-id="results-name" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>This columns list the names of the examples that match the criteria (and the comment for each example).</p>
  </li>
  <li data-id="results-section" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>This columns list the names of the examples that match the criteria (and the comment for each example).</p>
  </li>
  <li data-id="results-status" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>This columns list the names of the examples that match the criteria (and the comment for each example).</p>
  </li>
  <li data-id="results-actions" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>You can select to download the examples directly or navigate to page with the full detailed description of the example.</p>
  </li>
  <li data-button="End" data-prev-text="Prev">
    <h4>Tour Complete</h4>
    <p>Return to the C-CDA Example Search Results page.</p>
  </li>
</ol>

<script>
  $(document).foundation();

  function activateJoyride() {
    $(document).foundation('joyride', 'start');
  }

  $( document ).ready(function() {

    $('#sub-btn').click(function validateForm() {
      var isValid = true;
      $('.field').each(function() {
        if ( $(this).val() === '' )
          $(this).removeAttr("required");
      });
      document.searchform.submit();
      return isValid;
    });

    $('#tour-invoke').click(function () {
      $(document).foundation('joyride', 'start')
    });
  });
</script>