<p id="notice"><%= notice %></p>

<% content_for :title, @example.section.name + ' ' +
    CodeValue.by_table_and_code('sect-type', @example.section.section_type)[0].print_name %>

<h2><%= @example.name %></h2>

<%= link_to 'return to Main search', sections_path %>
<br/>
<%= link_to 'return to example list', examples_path %>
<p>
  <strong>Approval Status:</strong>
</p>

<p>
<% if @example.validation -%>
    <%= link_to 'Validation site', @example.validation %>
<% else -%>
    No validation URL supplied
<% end -%>
</p>

<p>
  <strong>Comments:</strong>
  <%= @example.comments %>
</p>

<p>
  <strong>Custodian:</strong>
  <%= @example.custodian %>
</p>


<p>
  <strong>Full sample:</strong>
  <%= @example.full_sample %>
</p>

<p>
  <strong>Example:</strong>
</p>

<%= raw syntax_highlight(@example.example) %>
