<p id="notice"><%= notice %></p>

<% content_for :title, @example.section.name + ' ' +
    CodeValue.by_table_and_code('sect-type', @example.section.section_type)[0].print_name %>

<h2><%= @example.name %></h2>

<%= link_to 'return to Main screen', sections_path, class: 'button small' %>

<%= link_to 'return to result list', examples_path, class: 'button small' %>
<p>
  <strong>Approval Status:</strong>
</p>

<p>
<% if @example.validation -%>
    <%= link_to 'Validation site', @example.validation %>
<% else -%>
    No validation URL supplied
<% end -%>
</p>

<p>
  <strong>Comments:</strong>
  <%= @example.comments %>
</p>

<p>
  <strong>Custodian:</strong>
  <%= @example.custodian %>
</p>


<p>
  <strong>Full sample:</strong>
  <%= @example.full_sample %>
</p>

<p>
  <strong>Example:</strong>
  <%= link_to 'download example', example_path(@example, format: :xml), class: 'button tiny' %>
  <%= link_to 'view on GitHub', @example.example_url, class: 'button tiny' %>
</p>

<%= raw syntax_highlight(@example.example) %>

<ol class="joyride-list" data-joyride>
  <li data-button="Begin Tour" data-text="Next"  data-options="prev_button: false">
    <h4>C-CDA Example Search Help</h4>
    <p><strong>C-CDA Example Details Display</strong><br/>
      This screen displays the results of executing the example search criteria
      against the existing examples recorded in the example database.</p>
  </li>
</ol>

<script>
  $(document).foundation();

  function activateJoyride() {
    $(document).foundation('joyride', 'start');
  }

  $( document ).ready(function() {

    $('#tour-invoke').click(function () {
      $(document).foundation('joyride', 'start')
    });
  });
</script>