<p id="notice"><%= notice %></p>

<% content_for :title, @example.section.name + ' ' +
    CodeValue.find_by(code_table: 'sect-type', code: @example.section.section_type).print_name %>

<h2 id="example-name"><%= @example.name %></h2>

<%= link_to 'return to Main screen', sections_path, class: 'button small', id: 'main-page-link' %>

<%= link_to 'return to result list', examples_path, class: 'button small', id: 'search-list-link' %>
<p class="detail-with-list">
  <strong id="example-status">Approval Status:</strong>
  <%= CodeValue.find_by(code_table: 'appr-stat', code: @example.status).print_name %>
</p>

<% if @example.approvals.count > 0 -%>
<div class="large-12 columns">
  <ul class="large-8 large-offset-1 columns">
    <% @example.approvals.each do |approval| -%>
        <li>
          <span><%= approval.committee %></span>:
          <% if approval.approved -%>
              <span><%= approval.date.strftime('%-m-%-d-%Y') %></span>
          <% else -%>
              <span><%= approval.comment %></span>
          <% end -%>
        </li>
    <% end -%>
  </ul>
</div>
<% end -%>

<p>
<% if @example.validation -%>
    <%= link_to 'SITE C-CDA Validator', @example.validation, id: 'example-validation' %>
<% else -%>
    <span id="example-validation">No validation URL supplied</span>
<% end -%>
</p>

<p class="detail-with-list">
  <strong id="example-comments">Comments:</strong>
</p>
<div class="large-10 large-offset-1 columns">
  <%= raw markdown.render(@example.comments) %>
</div>

<p>
  <strong id="example-custodian">Custodian:</strong>
  <%= @example.custodian %>
</p>

<p>
  <strong id="example-full">Full sample:</strong>
  <%= @example.full_sample %>
</p>

<p>
  <strong id="example-example">Example:</strong>
  <% if @example.example.nil? -%>
  no example provided
  <% else -%>
  <%= link_to 'download example', example_path(@example, format: :xml), class: 'button tiny', id: 'example-download' %>
  <%= link_to 'view on GitHub', @example.example_url, class: 'button tiny', id: 'example-github' %>
  <% end -%>
</p>

<% if @example.example -%>
<%= raw syntax_highlight(@example.example) %>
<% end -%>

<%= render 'tour_show' %>

<script>
  $(document).foundation();

  function activateJoyride() {
    $(document).foundation('joyride', 'start');
  }

  $( document ).ready(function() {

    $('#tour-invoke').click(function () {
      $(document).foundation('joyride', 'start')
    });
  });
</script>