<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @example.name %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @example.comments %>
</p>

<p>
  <strong>Customdian:</strong>
  <%= @example.customdian %>
</p>

<p>
  <strong>Validation:</strong>
  <%= @example.validation %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @example.keywords %>
</p>

<p>
  <strong>Full sample:</strong>
  <%= @example.full_sample %>
</p>

<p>
  <strong>Status:</strong>
  <%= @example.status %>
</p>

<p>
  <strong>Example:</strong>
  <%= @example.example %>
</p>

<p>
  <strong>Committee:</strong>
  <%= @example.committee %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @example.approved %>
</p>

<p>
  <strong>Date:</strong>
  <%= @example.date %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @example.comment %>
</p>

<%= link_to 'Edit', edit_example_path(@example) %> |
<%= link_to 'Back', examples_path %>
